
@model Category

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Kategori Girişi</h4>
                        <p class="card-subtitle mb-4">Kategori Ekleme işlemini burdan yapabilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="CategoryName">Kategori Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="CategoryName" placeholder="Kategori Adı Girişi Yapınız">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

