@model List<CategoryCountDto>

<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        @foreach(var x in Model)
        {
            <li><a href="/Category/Index/@x.CategoryID">@x.Name <span>(@x.Count)</span></a></li>
        }
        
    </ul>
</div>