@using Blogy.Dto.Layer.SendMessageDto
@model SendMessageDto


<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
	<form action="/Contact/Index/" method="post">
		<div class="row">
			<div class="col-6 mb-3">
				<input type="text" class="form-control" name="NameSurname" placeholder="Adınız Soyadınız">
				<span asp-validation-for="NameSurname" class="text-danger"></span>
			</div>
			<div class="col-6 mb-3">
				<input type="email" class="form-control" name="Email" placeholder="Email Adresiniz">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="col-12 mb-3">
				<input type="text" class="form-control" name="Subject" placeholder="Konu">
				<span asp-validation-for="Subject" class="text-danger"></span>
			</div>
			<div class="col-12 mb-3">
				<textarea id="" cols="30" rows="7" name="Message" class="form-control" placeholder="Mesaj"></textarea>
				<span asp-validation-for="Message" class="text-danger"></span>
			</div>

			<div class="col-12">
				<button class=" btn btn-primary">Mesaj Gönder</button>
				@* <input type="submit" id="btnSendMessage" value="Mesaj Gönder" class="btn btn-primary"> *@
			</div>
		</div>
	</form>
</div>